
.App {
  text-align: center;
  
  display: flex;
}
body{
  background-color: #1B1C1F;
}
.tittle{
  color: #F6F7F9;
}
.main-box{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B1C1F;
  
}
.input-main-box{
  display: flex;
  width: 70%;
  align-items: end;
  justify-content: center ;
  height: 57px;
  gap: -10px;
  margin-bottom: 20px;
}
.input-box{
  width: 68%;
  height: 90%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
}
.add-goal-button{
  width: 10%;
  background-color: #1C9675;
  height: 95%;
  color: #F6F7F9;
  font-family: Overpass;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
}
.goal-control{
  display: flex;
  width: 56.5%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.goals-box{
  margin-top: 10px;
  background-color: #F6F7F9;
  border: 1px solid #000;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 16px;
}
.goals-completed{
  color: #117A7A;
  margin-left: 10px;
}
.goals-pending{
  color: #B2324A;
  margin-left: 10px;
}

